{% extends 'partials/base.html.twig' %}

{# =====================KOLEKCJE================== #}

{% set plytatygodnia = page.collection({'items': {'@page.children': '/plyta-tygodnia'},
					'order': {'by': 'date', 'dir': 'desc'}}).first() %}

{% set dow = date().format("D") %}
{% set ramowka = page.collection({'items': {'@taxonomy': {'category': 'audycja', 'tag': dow}},
				'order': {'by': 'header.startaud', 'dir': 'asc'}}) %}

{% set nagrania = page.collection({'items': {'@page.children': '/nagrania'},
				'limit': '6',
				'order': {'by': 'date', 'dir': 'desc'}}) %}
{% block content %}
	<div class="grid">
		<div class="grid-box-2-3" id="player-box">
			<div class="grid-box-content">
				<div class="grid-box-bg" style="background-image: url('{{ url('theme://images/studio.jpg') }}');"></div>
				<div class="title-box"><h2>Player</h2></div>
		
				<div id="player-box-content">
					<div class="grid-box-bg"></div>
					<div id="jp_live_container">
						<div id="jp-live-play" class="player-button">
							<img src={{ url('theme://images/play-white.svg') }}></img>
						</div>
						<div id="jp-live-pause" class="player-button">
							<img src={{ url('theme://images/pause-white.svg') }}></img>
						</div>
						<div id="rds">Teraz gramy:
							<div id="headerLiveHolder" class="jp-live-title"></div>
						</div>
						<div id="jp-live-mute" class="player-button">
							<img src={{ url('theme://images/guosnik-white.svg') }}></img>
						</div>
						<div id="jp-live-unmute" class="player-button">
							<img src={{ url('theme://images/guosnik-mute-white.svg') }}></img>
						</div>
						<div id="jp-live-volume-bar" class="player-slider">
							<div id="jp-live-volume-bar-value" class="player-slider"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="grid-box-1-3" id="ramowka-box">
			<div class="grid-box-content">
				<div class="grid-box-bg"></div>
				<a class="title-box" onclick="linkTo('/radio','ramowka')"><h2>Ramówka na dziś</h2></a>
					<ul id="ramowka-lista">
				{% for a in ramowka %}
					<li>
					<a class="audycja" onclick="linkTo(
					{% if 'powtorka' in a.taxonomy.category %}
						'{{ a.parent.parent.parent.link }}', '{{ a.parent.parent.slug }}/{{ a.parent.slug }}'
					{% else %}
						'{{ a.parent.parent.link }}', '{{ a.parent.slug }}/{{ a.slug }}'
					{% endif %})" >
					<span class="godziny">{{ a.header.startaud }} - {{ a.header.koniecaud }}</span>
					<span class="nazwa">{{ a.title }}</span>
					</a>
					</li>
				{% endfor %}
					</ul>
			</div>	
		</div>
		<div class="grid-box-2-3" id="nagrania-box">
			<div class="grid-box-content">
				<div class="grid-box-bg"></div>
				<a class="title-box" onclick='linkTo("/nagrania")'><h2>Nagrania</h2></a>
				{% for n in nagrania %}
				<div class="nagranie" id="rec_{{ loop.index }}">
					<div id='titlejp-{{ loop.index }}' class="nagranie-title" onclick=
						{% if n.header.audio_attach_oga is not empty %}
						"playrec(this,'{{ n.media[n.header.audio_attach_oga|first.name].url() }}')"
						{% else %}
						"linkTo('{{n.parent.link}}','{{n.slug}}')"
						{% endif %}
						>{{ n.title }}</div>
					<div id="jp_container_{{ loop.index }}" class="player-container">
						<div id="jp-play_{{ loop.index }}" class="player-button play-button" >
						<img src={{ url('theme://images/play-white.svg') }}></img></div>
						<div id="jp-pause_{{ loop.index }}" class="player-button pause-button">
							<img src={{ url('theme://images/pause-white.svg') }}></img>
						</div>
						<div class="time">
						<div id="jp-current-time_{{ loop.index }}" class="player-time current-time"></div>
						<span class="splitter">/</span>
						<div id="jp-duration_{{ loop.index }}" class="player-time duration-time"></div>
						</div>
						<div class="seekbar-wrap">
						<div id="jp-seek-bar_{{ loop.index }}" class="player-slider seek-bar">
							<div id="jp-play-bar_{{ loop.index }}" class="player-slider play-bar"></div>
						</div>
						</div>
						
						<div id="jp-mute_{{ loop.index }}" class="player-button mute-button">
							<img src={{ url('theme://images/guosnik-white.svg') }}></img>
						</div>
						<div id="jp-unmute_{{ loop.index }}" class="player-button unmute-button">
							<img src={{ url('theme://images/guosnik-mute-white.svg') }}></img>
						</div>
						
					</div>
					<div class="more-link" onclick='linkTo("{{n.parent.link}}","{{n.slug}}")'>
						<div class="more">Więcej...</div>
						<img src={{ url('theme://images/arrow.svg') }}></img>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="grid-box-1-3" id="plytatygodnia-box">
			<div class="grid-box-content">
				<div class="grid-box-bg" style='background-image: url("{{ plytatygodnia.media[plytatygodnia.header.display_image|first.name].display('thumbnail').cropZoom(400,400).url() }}")'></div>
				<a class="title-box" onclick='linkTo("/plyta-tygodnia")'><h2>Płyta Tygodnia</h2></a>
				<div class="plyta-wrapper" onclick='linkTo("/plyta-tygodnia", "{{ plytatygodnia.slug }}")' >
				<div class="plyta-titles">
					<div class="title-artist"><h5>{{ plytatygodnia.header.artist }}</h5></div>
					<div class="title-album"><h3>{{ plytatygodnia.header.titlec }}</h3></div>
				</div>
				</div>
			</div>
		</div>
		

	</div>
					
{% endblock %}			
