{% extends 'partials/base.html.twig' %}
{% if page.url|split('/')|length == 3  %}
	{% set base_url = page.parent.url %}
{% elseif page.url|split('/')|length == 4 %}
	{% set base_url = page.parent.parent.url %}
	{% set sub_url = page.parent.url %}
{% endif %}

{% block content %}
	<div class="grid">
		<div class="grid-box-2-3 article-box">
			<div class="grid-box-content">
				<div class="title-box"><h2>{{ page.title }}</h2>
				<div class="back-button" onclick='linkTo(
				"{{ base_url }}",
				"{{ sub_url }}"
				)'><img src={{ url('theme://images/back-green.svg') }}></img></div>
				</div>
				<div class="article-containter">
				    {{ page.content }}
				</div>
			</div>
		</div>
		<div class="grid-box-1-3 article-photo">
			<div class="grid-box-content">
				<div class="grid-box-bg" style='background-image: url({{ page.media[page.header.display_image|first.name].display('thumbnail').cropZoom(400,400).url() }})'></div>
			</div>
		</div>
	</div>
{% endblock %}
